.row{

    
}
/* ______________________________________________Gutters________________________________________________ */

@media(--large-viewport){
    .row--gutters {
        padding-right: -65px;
    } 

    .row--gutters > div {
        padding-right: 65px;
    }

    .row--gutters-large{
        padding-right: -100px;
    }

    .row--gutters-large > div {
        padding-right: 100px;
    }
}

@media(--medium-viewport){
    .row--gutters {
        padding-right: -65px;
    } 

    .row--gutters > div {
        padding-right: 65px;
    }

    .row--gutters-large{
        padding-right: -100px;
    }

    .row--gutters-large > div {
        padding-right: 100px;
    }

}

@media(--small-viewport){
    .row--gutters {
        padding-right: -65px;
    } 

    .row--gutters > div {
        padding-right: 65px;
    }

    .row--gutters-large{
        padding-right: -100px;
    }

    .row--gutters-large > div {
        padding-right: 100px;
    }
}

/*_________________________________________________________________________________________________________*/

@media(--small-viewport) {
    .row__medium-4{
        float: left;
        width: 33.33%;
    }
    
    .row__medium-8{
        float: left;
        width: 66.66%;
    }
}

.row__b-margin-until-medium{
    margin-bottom: 1rem;
}

@media(--medium-viewport) {

    .row__b-margin-until-medium{
        margin-bottom: 0;
    }

    .row__medium-4--larger{
        width: 37%;
    }

    .row__medium-4{
        float: left;
        width: 33.33%;
    }

    .row__medium-6{
        float: left;
        width: 50%;
    }
    
    .row__medium-8{
        float: left;
        width: 66.66%;
    }

    .row__medium-8--smaller{
        width: 63%;

    }
}

.row::after{
    content: "";
    clear: both;
    display: table;
}



