.wrapper{
    
    overflow: hidden;
    padding-left: 18px;
    padding-right: 18px;
    max-width: 1236px;
    margin-left: auto;
    margin-right: auto;

    .wrapper{
        padding-left: 0;
        padding-right: 0;
    }
}

.wrapper-no-padding-until-medium{
    padding-left: 0;
    padding-right: 0;

    @media(--small-viewport){
        padding-left: 18px;
        padding-right: 18px;
    }

    @media(--small-m-viewport){
        padding-left: 18px;
        padding-right: 18px;
    }

    @media(--medium-viewport){
        padding-left: 18px;
        padding-right: 18px;
    }


}

.wrapper-no-padding-until-large{
    padding-left: 0;
    padding-right: 0;

    @media(--large-viewport){
        padding-left: 18px;
        padding-right: 18px;
    }

}

.wrapper--medium{
    max-width: 976px;
}

.wrapper--b-margin{
    margin-bottom: 1rem;

    @media(--small-viewport){
        margin-bottom: 3.875rem;
    }
}